<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="../../../../static/js/drawing.js"></script>
        <title>Draw</title>
    </head>
    {% load static %}
    {% csrf_token %}
    <body onload="init();">
        {% if alert %}
            <script>alert({{ alert }});</script>
        {% endif %}
        <p>Word: {{ game.secret_word }}</p>
        <canvas id="canvas" width="400" height="400" style="position:absolute;top:30%;left:0%;border:2px solid;"></canvas>
        <p><span id="timer">Time elapsed: 0 sec.</span></p><br>
        <button class="btn btn-danger" onclick="clearCanvas();">Clear</button><br>
        <button class="btn btn-warning"
                onclick="send('{% url 'draw' game_id=game.id player=player %}',
                 '{% url 'draw_wait' game.id player %}', '{{ csrf_token }}');">
            Enter
        </button>
    </body>
</html>
