{% extends "drawing/base.html" %}

{% block title %}Host{% endblock %}

{% block content %}
<h1>Start a new game</h1>
<div id="form" style="text-align: left; margin-top: 30px;">
    <form action="{% url 'host' %}" method="post">
        {% csrf_token %}
        {% if form.n_rounds.errors %}
            {{ form.n_rounds.errors }}<br>
        {% endif %}
        <p>Number of rounds:</p>
        {{ form.n_rounds }}<br>
        <button class="btn btn-info" style="margin-top: 10px;">Create game</button>
    </form>
</div>
{% endblock %}