<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>SmallDraw</title>
</head>
<body>
    {% if error %}
        <p style="color: #FFOOOO"><u>{{ error }}</u></p>
    {% endif %}
    {% if alert %}
        {% if alert_type == 'game_created' %}
            <script>
                alert("Game created with id " + {{ alert }})
            </script>
        {% endif %}
    {% endif %}
    <form action="{% url 'start' %}" method="post">
        {% csrf_token %}
        {{ form.id }}<br>
        {{ form.player }}<br>
        <button class="btn btn-info">Enter</button>
    </form>
    <a href="{% url 'host' %}"><u>Host your own game!</u></a>
</body>
</html>